<div ng-controller="CategoriesController">
  <table class="categories-table table table-striped table-hover">
    <caption>
      Categories
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category Name</th>
        <th scope="col">Description</th>
        <th scope="col">Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categories">
        <td>{{category.id}}</td>
        <td>{{category.category_name}}</td>
        <td>{{category.description}}</td>
        <td>{{category.picture}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="table-spacer"/>

<div ng-controller="CustomersController">
  <table class="customers-table table table-striped table-hover">
    <caption>
      Customers
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Contact Title</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Country</th>
        <th scope="col">Phone</th>
        <th scope="col">Fax</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customers">
        <td>{{customer.id}}</td>
        <td>{{customer.company_name}}</td>
        <td>{{customer.contact_name}}</td>
        <td>{{customer.contact_title}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.region}}</td>
        <td>{{customer.postal_code}}</td>
        <td>{{customer.country}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.fax}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="table-spacer"/>

<div ng-controller="EmployeesController">
  <table class="employees-table table table-striped table-hover">
    <caption>
      Employees
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Title</th>
        <th scope="col">Title of Curtesy</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Hire Date</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Country</th>
        <th scope="col">Home Phone</th>
        <th scope="col">Extension</th>
        <th scope="col">Photo</th>
        <th scope="col">Notes</th>
        <th scope="col">Reports To</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td>{{employee.id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.title_of_curtesy}}</td>
        <td>{{employee.birth_date}}</td>
        <td>{{employee.hire_date}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.region}}</td>
        <td>{{employee.postal_code}}</td>
        <td>{{employee.country}}</td>
        <td>{{employee.home_phone}}</td>
        <td>{{employee.extension}}</td>
        <td>{{employee.photo}}</td>
        <td>{{employee.notes}}</td>
        <td>{{employee.reports_to}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="table-spacer"/>

<div ng-controller="OrderDetailsController">
  <table class="order-details-table table table-striped table-hover">
    <caption>
      Order Details
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Order ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="orderDetail in orderDetails">
        <td>{{orderDetail.id}}</td>
        <td>{{orderDetail.order_id}}</td>
        <td>{{orderDetail.product_id}}</td>
        <td>{{orderDetail.unit_price}}</td>
        <td>{{orderDetail.quantity}}</td>
        <td>{{orderDetail.discount}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="table-spacer"/>

<div ng-controller="OrdersController">
  <table class="orders-table table table-striped table-hover">
    <caption>
      Orders
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Order Date</th>
        <th scope="col">Required Date</th>
        <th scope="col">Shipped Date</th>
        <th scope="col">Ship Via</th>
        <th scope="col">Freight</th>
        <th scope="col">Ship Name</th>
        <th scope="col">Ship Address</th>
        <th scope="col">Ship City</th>
        <th scope="col">Ship Region</th>
        <th scope="col">Ship Postal Code</th>
        <th scope="col">Ship Country</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order.id}}</td>
        <td>{{order.customer_id}}</td>
        <td>{{order.employee_id}}</td>
        <td>{{order.order_date}}</td>
        <td>{{order.required_date}}</td>
        <td>{{order.shipped_date}}</td>
        <td>{{order.ship_via}}</td>
        <td>{{order.freight}}</td>
        <td>{{order.ship_name}}</td>
        <td>{{order.ship_address}}</td>
        <td>{{order.ship_city}}</td>
        <td>{{order.ship_region}}</td>
        <td>{{order.ship_postal_code}}</td>
        <td>{{order.ship_country}}</td>
      </tr>
    </tbody>
  </table>
</div>

